@import url('grid.css');

img {
    border: 0;
}

div#container {
    width: 960px;
    margin: auto;
}

p {
    font-family: Arial, sans-serif;
}

body {
    background-color: #F5F5EB;
}

div#social {
    position: absolute;
    top: -25px;
    right: 0;
    height: 20px;
}

iframe#fbLike {
    float: right;
    line-height: 20px;
}

p.twitter {
    font-family: "nevisBold";
    font-size: 12px;
    float: right;
    text-transform: uppercase;
    padding-left: 20px;
    background: url(../images/twitter.jpg) no-repeat left center;
    line-height: 20px;
    font-weight: normal;
    margin: 0 10px 0 0;
}

p.twitter a {
    color: #BD820E;
    text-decoration: none;
}


a {
    color: #BD820E;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.header {
    text-align: center;
    font-family: "Museo700";
    font-weight: bold;
    text-transform: uppercase;
    margin: auto;
    margin: 45px auto 22px;
    border-top: dotted 1px #363636;
    border-bottom: dotted 1px #363636;
    position: relative;
}

div#container.home div.header {
    background: url(../images/guitar.png) no-repeat 671px center;
    height: 260px;
    padding: 45px 290px 45px 45px;
    width: 625px;
}

div#container.sub div.header {
    background: url(../images/guitar-sub.png) no-repeat 442px center;
    height: 100px;
    padding: 35px 439px 35px 22px;
    width: 499px;
    text-align: left;

}

.header > h1 {
    color: #363636;
    margin: 0;
    font-weight: normal;
}

.header > h1 > span {
    display: block;
    margin: 0;
    font-weight: normal;
}

div#container.home .header > h1 {
    font-size: 65px;
    line-height: 67px;
}

div#container.home .header > h1 > span {
    font-size: 85px;
}

div#container.sub .header > h1 {
    font-size: 43px;
    line-height: 50px;
}

div#container.sub .header > h1 > span {
    font-size: 56px;
    line-height: 50px;
}

.header > h2 {
    color: #BD820E;
    font-size: 72px;
    font-family: "RockwellExtraBoldRegular";
    margin: 0;
    line-height: 80px;
    font-weight: normal;
}

.header > h3 {
    color: #7C6182;
    color: #363636;
    font-size: 70px;
    font-family: "SaddlebagRegular";
    margin: 0;
    line-height: 46px;
    font-weight: normal;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

.header > h3 > span {
    width: 8px;
    display: inline-block;
}

.header > h2 > span {
    background: url(../images/ampersand.png) no-repeat center center;
    text-indent: -99999px;
    display: inline-block;
    width: 54px;
}


div#container.sub div#intro {
    float: left;
    width: 370px;
    color: #363636;
    font-size: 14px;
    line-height: 20px;
}

div#container.sub div#body {
    padding-left: 390px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #363636;
}

div#container.sub h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-family: "NevisBold";
    line-height: 40px;
    margin: 0 0 20px 0;

}

div#container.sub h3 {
    color: #BD820E;
    text-transform: uppercase;
    font-family: "NevisBold";
    font-weight: normal;
    border-bottom: solid 1px #e3e2d4;
    font-size: 18px;
    line-height: 39px;
    margin: 0 0 20px 0;
}

p {
    line-height: 20px;
    margin: 0 0 0 0;
}

ul {
    margin: 20px 0;
}

li {
    margin: 0;
    line-height: 20px;
}

.section {
    margin: auto;
    font-size: 14px;
    padding-left: 400px;
}

.section p {
    line-height: 20px;
    margin: 0;
    margin-bottom: 20px;
    vertical-align: bottom;
}

.aside {
    width: 325px;
    margin-right: 25px;
    float: left;
    font-size: 20px;
    padding-left: 50px;
    /*background: url(../images/quote.png) no-repeat;*/
    height: 93px;
}

.aside p {
    text-transform: uppercase;
    font-family: "NevisBold";
    text-indent: -2.2em;
    line-height: 40px;
    margin: 0;
    vertical-align: bottom;
    /*text-indent: -99999px;*/
}

.aside p span {
    line-height: inherit;
    color: #BD820E;
    font-size: 60px;
    font-family: "RockwellExtraBoldRegular";
    line-height: 40px;
    vertical-align: text-top;
}

div#nav {
    position: absolute;
    top: -25px;
    left: 0;
    font-size: 18px;
    font-family: "NevisBold";
    font-weight: normal;
    line-height: 20px;
}

div#nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

div#nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

div#nav li a {
    color: #BD820E;
}

div#sponsors {
    padding-bottom: 50px;
}

div#sponsors h1 {
    font-size: 18px;
    color: white;
    background-color: #363636;
    font-family: "NevisBold";
    line-height: 26px;
    font-weight: normal;
    text-transform: uppercase;
    height: 26px;
    margin: 0 0 34px 0;
    padding-left: 8px;
}

div#sponsors h2 {
    font-size: 18px;
    font-family: "NevisBold";
    font-weight: normal;
    text-transform: uppercase;
    line-height: 20px;
    margin: 0;
    clear: both;
}

div#sponsors div {
    width: 75%;
    float: right;
    clear: left;
    margin-top: -20px;
    margin-bottom: 40px;
}
