<IfModule mod_rewrite.c>
    RewriteEngine On
    #RewriteBase /~ramsey/phpcon-web/
    RewriteRule ^(resources|templates).*$ http://phpcon.org/ [R=302,L]
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !favicon.ico$
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

