Redirect temp /about http://phpcon.org/2011/about
Redirect temp /location http://phpcon.org/2011/location
Redirect temp /schedule http://phpcon.org/2011/schedule
Redirect temp /speakers http://phpcon.org/2011/speakers
Redirect temp /sponsorships http://phpcon.org/2011/sponsorships
Redirect temp /subscribe http://phpcon.org/2011/subscribe

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^(resources|templates).*$ http://phpcon.org/ [R=302,L]
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !favicon.ico$
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

